/Stars/build/
/Stars/dist/
/Codeforces/ArrayStabilization/build/
/Codeforces/ArrayStabilization/dist/
/Codeforces/PowersOfTwo/dist/
/Codeforces/PowersOfTwo/build/
/Codeforces/AntonAndPolyhedrons/build/
/Codeforces/AntonAndPolyhedrons/dist/
/Codeforces/WorkoutPlan/build/
/Codeforces/WorkoutPlan/dist/